
@model IEnumerable<MoviesRepository.DTO.UserReadDTO>
@{
}
<h1> Список користувачів</h1>
<hr />

<table class="table table-bordered">
	<thead>
		<tr>
			<th>Full Name</th>
			<th>Email</th>
			<th>Confirmed</th>
			<th>Roles</th>
			<th>Actions</th>
		</tr>
	</thead>
	<tbody>
		@foreach(var u in Model)
		{
			<tr>
				<td>@u.FullName</td>
				<td>@u.Email</td>
				<td>@u.IsConfirmed</td>
				<td>
					@string.Join(",", u.Roles.Select(x=>x.Name))
				</td>
				<td>
					<a href="#">btn</a>
					</td>
			</tr>
		}
	</tbody>
</table>