@model IEnumerable<MoviesCore.Genre>

<style>
	.genre_block {
		padding: 15px 30px;
		border: 1px solid white;
		font-size: 16px;
		font-weight: 800;
		margin-right: 15px;
		margin-top: 10px;
		color: white;
		background-color: rgbA(128,128,128,0.5);
		text-decoration:none;
	}

</style>
<div class="container">
	<div class="row mt-3">
		@foreach(var genre in Model)
		{
			<div class="col-3">
				<div class="genre_block">
					<a asp-action="FilteredList" asp-route-id="@genre.Id" >@genre.GenreName</a>
				</div>
			</div>
		}
	</div>
</div>

