
@{
} 

	<style>
		.welcome {
			background: linear-gradient( rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7) ), url("https://www.notebookcheck.net/fileadmin/Notebooks/News/_nc3/netflixteaser.png");
			background-repeat: no-repeat;
			background-size: cover;

		}
		.welcome-text {
			padding: 41vh 0;
			font-size: 50px;
			color: #fff;
		}
	</style>
	<div class="welcome">
		<div class="welcome-text text-center">Welcome to movie catalog</div>
	</div>